protocol device {
        scan time 10;           # Scan interfaces every 10 seconds
}

# Disable automatically generating direct routes to all network interfaces.
protocol direct {
        disabled;               # Disable by default
}


protocol kernel {
        ipv4 {                    # Connect protocol to IPv4 table by channel
                import all;      # Import to table, default is import all
                export all;      # Export to protocol. default is export none
        };
        merge paths;
}
# BGP peers
{% for host in groups['k8s-workers'] %}
protocol bgp '{{ hostvars[host]['ansible_hostname'] }}' {
      local {{ inventory_hostname }} as 64501;
      neighbor {{ host }} as 64500;

      ipv4 {
              import filter {accept;};
              export filter {accept;};
      };
}
{% endfor %}