[submodule "kubernetes/installation/manual/--branch"]
	path = kubernetes/installation/manual/--branch
	url = https://github.com/nginxinc/kubernetes-ingress.git
[submodule "kubernetes/installation/manual/kubernetes/installation/manual/Nginx-ingress-controller/kubernetes-ingress"]
	path = kubernetes/installation/manual/kubernetes/installation/manual/Nginx-ingress-controller/kubernetes-ingress
	url = https://github.com/nginxinc/kubernetes-ingress.git
